[Unit]
Description=gunicorn daemon for os
After=network.target

[Service]
User=root
Group=www-data
WorkingDirectory=/root/os
EnvironmentFile=/root/os/.env
ExecStart=/root/os/.venv/bin/gunicorn --access-logfile - --workers 3 --bind 0.0.0.0:8002 jumperfour.wsgi:application

[Install]
WantedBy=multi-user.target
